body {
  margin: 0px;
}

.footer {
  height: 150px;
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 12px;
  flex: 1;
  margin-bottom: 10px;
}

.info {
  font-size: 10px;
  align-self: flex-end;
}
#three {
  display: flex;
  flex-direction: column;
}

#three .title {
  align-self: flex-start;
}

#three .info {
  align-self: flex-end;
}

.item {
  padding: 10px;
  width: 150px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}
